.secaotop {
  width: 100%;
  height: 100%;
  padding-top: 80px;

}
.boxcardsprojeto{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

}
@media screen and (max-width:1130px) {
  .boxcardsprojeto{flex-flow: row nowrap ;}
}
@media screen and (max-width:710px){
  .boxcardsprojeto{
    flex-flow: column nowrap;
  }
  
}