
.boxprojetos {
  width: 100%;
  height: 100%;
}
.boxcards {
  display: flex;
  justify-content: center;
  align-items: center;

}
.cardprojetos h3 {
  margin: 20px 0;
  font-size: 22px;
}
.boxcards img {
  width: 100%;
  height: 100%;
}
.boxcards a{
  width: 400px;
  margin: 0 auto;
}

.cardprojetos {
  width: calc(100% / 2);
  margin: 10px auto;  
}
.cardprojetos p {
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
}
.boxcards img:hover {
  border: 2px solid red;
}
@media screen and (max-width: 440px) {
  .boxcards {
    flex-flow: column nowrap;
    width: 100%;
  }
  .cardprojetos p {
    font-size: 14px;
    line-height: 22px;
    width: 100%;

  }

  .cardprojetos p, .cardprojetos {
    width:calc(100% - 60px) ;
  }
  .boxcards a{
    width:300px;
    height: 250px;
  }
}
@media (min-width: 441px) and (max-width: 800px) {
  .boxcards {
    flex-flow: column nowrap;
  }
  .boxcards a{
    width: calc(100% - 40px);
    margin: 0 auto;
  }
  .cardprojetos{
    width: calc(100% - 80px);
  }

}
