.boxprofile,
.boximgprofile {
  width: calc(100% / 2);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 590px;
}
.boxprofile h1 {
  font-size: 60px;
  margin: 0 30px;
  text-transform: uppercase;
}
.boxprofile p {
  line-height: 26px;
  font-size: 22px;
  text-align: justify;
  position: relative;
  top: 200px;
  right: -40px;
}
.boximgprofile {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.imgprofile {
  width: 300px;
  height: 300px;
  margin-bottom: 30px;
  border: 5px solid rgb(148, 2, 116);
  background: url("/public/assets/profileWanderRosa.jpg") 20px -93px;
  background-size: cover;
  border-radius: 300px;
}
.boxicons {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
}
.boxicons img {
  position: relative;
  top: 0;
  left: 180px;
  margin: 5px 0;
  width: 50px;
  height: 40px;
  border-radius: 5px;
  
}

/* .boximgprofile {
  width: calc(100% / 2);
  height: 560px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;

} */

/* .profile {
  width: 200px;
  height: 150px;
  border-radius: 50px;
  background-image: url('/public/assets/profileWanderRosa.jpg');
  background-size: cover;
  background-position: 20px -80px;
  background-color: #15134b; 
  border: 2px solid #c53497dd;

} */
