.backgroundmain{
  background-color: rgba(203, 234, 250, 0.973);
  padding-top: 100px;
}

.boxprofile,
.boximgprofile {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 590px;
}
.boxprofile{
  min-width: 800px;
  max-width: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.boxprofile h1 {
  min-width: 300px;
  max-width: 300px;
  font-size: 60px;
  text-transform: uppercase;
}
.boxprofile p {
  min-width: 300px;
  max-width: 300px;
  line-height: 26px;
  font-size: 22px;
  text-align: justify;
}
.boximgprofile {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.imgprofile {
  width: 300px;
  height: 300px;
  margin-bottom: 30px;
  border: 5px solid rgb(148, 2, 116);
  background: url("/public/assets/profileWanderRosa.jpg") 20px -93px;
  background-size: cover;
  border-radius: 300px;
}
/* icones */
.boxicons {
  display: flex;
  width: 60px;
  height: 250px;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  margin-left: 40px;
}
.boxicons img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}
.boxicons a {
  margin-bottom: 15px;
}

.branco {
  background-color: rgba(255, 255, 255, 0.719);
  color: rgba(201, 4, 4, 0.829);
}
.azul {
  background-color: rgba(5, 162, 253, 0.719);
  color: rgba(253, 253, 253, 0.692);
}
.verde {
  background-color: rgba(17, 248, 67, 0.781);
  color: rgba(253, 253, 253, 0.692);
}
.cinza {
  background-color: rgba(241, 112, 6, 0.87);
  color: rgba(253, 253, 253, 0.692);
}
h2 {
  margin: 30px 0;
  font-size: 28px;
}

