.topo {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position:fixed;
  background-color: rgba(203, 234, 250);
  top: 0;
 
}
.topo nav{
  width: 400px;
  max-width: 400px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;


}
.link {
  text-decoration: none;
  font-size: 22px;
  color: black;

  border-radius: 5px;

}
@media screen and (min-width:701px) and (max-width:865px){ 
 .topo{
  justify-content: flex-start;
 }
  .topo nav{
    margin-left: 30px;
  }
}
@media screen and (max-width:700px) {
  .trasso1 {
  border-bottom: 2px solid #0a0a0a;
  margin: 5px;
}
.topo button {
  visibility: visible;
  width: 40px;
  height: 30px;
  margin: 0 20px;
  border-radius: 5px;
}
.topo nav{
  position: absolute;
  top: 0;
  left: -320px;
}

}


/* 
@media screen and (max-width: 440px) {
  button {
    visibility: visible;
  }
  .topo ul {
    height: 100px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 0 0 80px 0;
    background-color: #15134b;
    position: absolute;
  }
  #esconde {
    top: -90px;
    left: 0;
  }
  #mostrar {
    top: 60px;
    left: 0;
  }
  .link {
    margin: 10px;
  }
  .topo {
    justify-content: flex-start;
    align-items: center;
  }
} */
